# The following options relate to Auth0 setup and service credentials. Please see documentation for meaning
# Use in auth-config.json in UI
AUTH0_DOMAIN="-"
AUTH0_CLIENT_ID="-"

# Auth0 Service Account credentials

M2M_CLIENT_ID='-'
M2M_CLIENT_SECRET='-'

NAVIGATOR_CLIENT_ID='-'
NAVIGATOR_CLIENT_SECRET='-'

TRIGGER_CLIENT_ID='-'
TRIGGER_CLIENT_SECRET='-'

# Minimal token for JSON API - public rights only to retrieve DAML Packages
JSON_CLIENT_ID='-'
JSON_CLIENT_SECRET='-'

ALICE_CLIENT_ID='-'
ALICE_CLIENT_SECRET='-'

BOB_CLIENT_ID='-'
BOB_CLIENT_SECRET='-'

LEDGER_ID="sandbox"

